@import "abstracts/variables.scss";
@import "abstracts/function.scss";

@import "components/movie.scss";
@import "components/nav.scss";
@import "components/footer.scss";
@import "components/header.scss";
@import "components/modal.scss";

* {
    padding: 0;
    margin: 0;
}

.App {
    background: $color-background;
}