.App {
    position: relative;
}

header {
    width: 100vw;
    height: 80vh;
    position: absolute;
    
    
    .headerContainer {
        width: 100%;

        img {
            width: 100%;
        }
    }
}