.movieContainer {
    height: 30vh;
    background: gray;
    display: flex;

    .movie {
        width: 200px;
        background: black;
        margin: 5px;
        img {
            width: 100%;
        }
    }
}