.layout {
    width: 90vw;
    margin: auto;
    background: $color-background;

    p {
        color: white;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        
    }
}
.movieContainer {
    margin: 2rem 0;
    position: static;
    display: flex;
    overflow: auto;

    .movie {
        background: black;
        margin: 5px;

        img {
            width: 15vw;
        }
    }

    .netflixMovie {
        background: black;
        margin-right: 1rem;

        img {
            width: 22vw;
        }
    }
}