body {
    background: white;
}
.navigation {
    width: 100%;
    position: fixed;
    z-index: 100;
    transition: all 0.5s ease-in;

    &.black {
        background: $color-background;
    }

    &_container {
        margin-left: 3.8rem;
        height: 4rem;
        display: flex;
        align-items: center;
        position: relative;
        transition: all 0.3s ease-in;
    }

    .logo {
        height: 2.8rem;
        margin: .5rem;
        cursor: pointer;
    }

    .left {
        margin: 0;
        justify-content: flex-start;

        .link {
            font-size: 12px;
            font-weight: 500;
            color: white;
            cursor: pointer;
    
            &:hover {
                color: $color-dark-grey;
            }
        }
    }

    .icons {
        margin: 0 3.8rem 0 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        position: absolute;
        width: 20%;
        right: 0;
        cursor: pointer;

        .search-box {
            display: flex;
            padding: 3px;
            height: 20px;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            
            .serchLogo {
                position: absolute;
            }

            .search-txt {
                width: 0;
                padding: 10px;
                background: $color-background;
                border: none;
                margin-left: 5%;
                color: white;
                transition: width .5s;
                border: 2px solid white;
                opacity: 0;

                &:focus {
                    padding-left: 4rem;
                    width: 15rem;
                    outline: none;
                    opacity: 1;
                }
            }
        }

        .link {
            margin: 0;

            &:hover {
                color: $color-dark-grey;
            }
        }
    }
}

